/* 社团列表css */
.association_list {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 90px;
    margin-bottom: 20px;
    /* flex-wrap: wrap; */

}
.association_list_item {
    /* width: 50%;
    margin:0px  auto;
    flex: 1; */
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.association_list_item  .association_list_logo{
    width: 150px;
    /* height: 20px; */
}
.association_list_logo img{
    width: 100%;
}
.association_list_item  .title{
    display: flex;
    align-items: center;
}
.association_list_item  .association_name{
    font-size: 20px;
    padding-left: 20px;
    
}
.association_name div:first-child{
    font-weight: bold;
    font-size: 25px;
    }
.association_name div{
    font-size: 14px;
}


/* 社团所属专辑列表css */
.music_content{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 30px;
}
/* .music_content>div{
    width: 50%;
} */
.music_item_div{
    margin-right: 10px;
    /* flex: 1; */

    
}
.music_content .music_item_div .music_img{
    width: 200px;
    box-sizing: border-box;
    position: relative;
}

.music_content .music_item_div .music_img .music_hover_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    display: none;
    border: 2px solid #ccc;


}
.music_content .music_item_div .music_img:hover .music_hover_div{
    display: block;
}
.music_content .music_item_div .music_img img{
    width: 200px;
    height: 200px;
}
.music_content .music_text{
    margin-top: 10px;
    width: 200px;
}
.music_content .music_text p:last-child{
    border-top: 1px solid #000;
    
}
.music_content .music_text p:first-child{
    margin-bottom: 10px;
    font-weight: bold;
    
}
.container_title{
    text-align: center;
}
.container_title p{
     font-size: 20px;
     font-weight: bold;
}
.container_title>div{
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #000;
    margin: auto;
}